html {
    background-color: rgb(245, 240, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    display: block;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.login {
    background-color: snow;
    border: 2px solid black;
    display: block;
    margin: auto;
    padding: 5px;
    text-align: center;
    width: 20%;
}

label {
    font-size: large;
}

.btn {
    border: none;
    background-color: lightgrey;
    font-size: medium;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
    width: 160px;
}

.btn.reply {
    display: inline;
    margin: 4px;
    padding: 4px;
    width: 80px;
}

.btn:hover {
    background-color: slategrey;
}

.btn:active {
    background-color: lightgrey;
}

input:hover {
    background-color: lightblue;
}

.postblock {
    border: 2px solid black;
    display: block;
    margin: auto;
    padding: 10px;
    text-align: left;
    width: 50%;
}

.replyblock {
    border: 2px solid black;
    display: block;
    margin: left;
    padding: 6px;
    text-align: left;
    width: 80%;
}

.title, .author {
    margin: 0px;
    padding: 2px;
}

.stamp {
    font-size: 80%;
}