doctype html
html
    head
        style
            include ../style/style.css
    body
        h1 1Board
        br
        form.login(action="/login" method="post" enctype="multipart/form-data")
            label(for="username") Username
            br
            input(type="text" name="username")
            br
            label(for="password") Password
            br
            input(type="password" name="password")
            br
            input.btn(type="submit" value="Login")
            br
            a(href="/signup") Create Account